* {
	margin: 0;
	padding: 0;
	--yellow: #f5a21c;
	--blue: #030f4f;
}

.hidden {
	display: none;
}

body {
	height: 100vh;
	font-size: 20px;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--blue);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	background-color: var(--yellow);
	border-radius: 5px;
	color: var(--blue);
	font-size: 1rem;
	font-weight: 700;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
	transform: translate(0px, -3px);
}

h1 {
	color: var(--yellow);
	font-size: 1.5rem;
	margin-bottom: 30px;
}

.full-screen-opaque {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 5;
}

.panel {
	background: var(--yellow);
	color: var(--blue);
	border-radius: 5px;
	box-shadow: 0px 0px 3px var(--main-grey);
	padding: 40px 20px 20px 20px;
	margin: 10px;
}

#addLinkContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

#addLinkPanel {
	animation: slide-down 1s 0s ease-in;
}

@keyframes slide-down {
	0% {
		transform: translateY(-1000px);
	}
	90% {
		transform: translateY(25px);
	}
	95% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}
